<div class="home-header">
  <h1>Trang chủ</h1>
</div>
<div class="home-content">
  <span>Chào bạn: <%= user ? user.name : '' %></span>
  <form method="POST" action="/logout" style="display:inline; margin:0;">
    <button type="submit" class="btn-logout">Đăng xuất</button>
  </form>
</div>
