@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
}
body {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  background: url("../images/background.jpg") no-repeat 0 / cover;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.decoration {
  background: url("../images/dot-texture.png") repeat 0 0 white;
  position: absolute;
  width: 64%;
  height: 140%;
  border-radius: 50%;
  top: -20%;
  right: -32%;
}

.info {
  width: 584px;
  position: absolute;
  top: 16%;
  left: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info .info-logo .logo {
  fill: white;
  width: 42px;
  height: 60px;
}

.info .info-subtitle {
  margin-top: 36px;
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.info .info-title {
  font-family: "Titillium Web", sans-serif;
  font-size: 10.4rem;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 10.4rem;
  position: relative;
  top: -10px;
}

.info .info-text {
  width: 384px;
  margin: 30px auto 0;
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.info .info-btn {
  position: relative;
  width: 360px;
  height: 54px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 700;
  overflow: hidden;
}

.info .info-btn label {
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.info .info-btn .login,
.info .info-btn .register {
  padding: 15px 60px;
}

#tab-login:checked ~ .info .login {
  background-color: white;
  color: #3e3f5e;
}

#tab-register:checked ~ .info .register {
  background-color: white;
  color: #3e3f5e;
}

.form-login {
  width: 484px;
  max-height: 90vh;
  position: absolute;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
  top: 40px;
  right: 13%;
  padding: 64px;
}

.form-login .form-box {
  width: 356px;
}

.form-login .form-login-logo {
  position: absolute;
  top: -70px;
  left: -80px;
}

.form-login .form-login-title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  margin-bottom: 80px;
}

.form-login .form-box .input-group {
  position: relative;
}

.form-login .form-box .input-group input {
  width: 100%;
  height: 54px;
  padding: 0 18px;
  font-size: 1.6rem;
  border: 1px solid #dedeea;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  color: #3e3f5e;
}

.form-login .form-box .input-group label {
  position: absolute;
  top: 37%;
  left: 18px;
  font-size: 1.6rem;
  font-weight: 600;
  transform: translateY(-50%);
  color: #adafca;
  background: white;
  transition: all 0.4s ease;
  z-index: 2;
  cursor: text;
}

.form-login .form-box .input-group input:focus + label,
.form-login .form-box .input-group input:not(:placeholder-shown) + label {
  top: -10px;
  transform: translateY(0);
  font-size: 1.3rem;
}

.form-login .form-box .input-group input:focus {
  border: 1px solid #615dfa;
}

.form-login .form-box .form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
}

.form-login .form-box .form-row .form-action {
  position: relative;
  font-size: 1.4rem;
}

.form-login .form-box .form-row .form-action label {
  color: #3e3f5e;
  font-weight: 800;
  padding-left: 32px;
  cursor: pointer;
  overflow: hidden;
}

.form-login .form-box .form-row .form-action label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #23d2e2;
  border-radius: 5px;
  margin-right: 5px;
  position: absolute;
  top: -1px;
  left: 0;
}

.form-login .form-box .form-row .form-action label::after {
  content: "\2716";
  margin-right: 5px;
  position: absolute;
  top: -1px;
  left: 4px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}

.form-login
  .form-box
  .form-row
  .form-action
  #login-remember:checked
  ~ label::before {
  background: #23d2e2;
}

.form-login
  .form-box
  .form-row
  .form-action
  #login-remember:checked
  ~ label::after {
  opacity: 1;
  visibility: visible;
}

.form-login .form-box .form-row .form-action a {
  color: #adafca;
  font-weight: 700;
}

.form-login .form-box .form-row .form-action a:hover {
  color: #23d2e2;
}

.form-login .form-box .form-btn {
  margin-top: 30px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  height: 54px;
  line-height: 54px;
  cursor: pointer;
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
}

.form-login .form-box .form-btn:hover {
  background-color: #5753e4;
}

.form-login .form-box .form-text {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  color: #3e3f5e;
}

.form-login .form-box .form-text::before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
  position: absolute;
  top: 8px;
  left: 0;
}

.form-login .form-box .form-text::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
  position: absolute;
  top: 8px;
  right: 0;
}

.form-login .form-box .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 12px;
}

.form-login .form-box .social .social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  translate: 0 0;
  transition: translate 0.4s ease;
}

.form-login .form-box .social .social-item:hover {
  translate: 0 -6px;
}

.form-login .form-box .social .fa-square-facebook {
  background-color: #3763d2;
}

.form-login .form-box .social .fa-twitter {
  background-color: #1abcff;
}

.form-login .form-box .social .fa-twitch {
  background-color: #7b5dfa;
}

.form-login .form-box .social .fa-youtube {
  background-color: #fd434f;
}

.form-register {
  width: 484px;
  max-height: 100vh;
  position: absolute;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
  top: 0;
  right: 13%;
  padding: 48px;
}

.form-register .form-box {
  width: 356px;
  margin-left: 21px;
}

.form-register .form-box .form-register-logo {
  position: absolute;
  top: -30px;
  left: -80px;
}

.form-register .form-box .form-register-title {
  font-size: 2.6rem;
  font-weight: 700;
  color: #3e3f5e;
  text-align: center;
  line-height: 2.6rem;
  margin-bottom: 80px;
}

.form-register .form-box .input-group {
  position: relative;
}

.form-register .form-box .input-group input {
  width: 100%;
  height: 54px;
  padding: 0 18px;
  font-size: 1.6rem;
  border: 1px solid #dedeea;
  border-radius: 10px;
  outline: none;
  margin-bottom: 30px;
  color: #3e3f5e;
}

.form-register .form-box .input-group label {
  position: absolute;
  top: 37%;
  left: 18px;
  font-size: 1.6rem;
  font-weight: 600;
  transform: translateY(-50%);
  color: #adafca;
  background: white;
  transition: all 0.4s ease;
  z-index: 2;
  cursor: text;
}

.form-register .form-box .input-group input:focus + label,
.form-register .form-box .input-group input:not(:placeholder-shown) + label {
  top: -10px;
  transform: translateY(0);
  font-size: 1.3rem;
}

.form-register .form-box .input-group input:focus {
  border: 1px solid #615dfa;
}

.form-register .form-box .form-action {
  position: relative;
  font-size: 1.4rem;
}

.form-register .form-box .form-action label {
  color: #3e3f5e;
  font-weight: 700;
  padding-left: 32px;
  cursor: pointer;
  overflow: hidden;
}

.form-register .form-box .form-action label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #23d2e2;
  border-radius: 5px;
  margin-right: 5px;
  position: absolute;
  top: -1px;
  left: 0;
}

.form-register .form-box .form-action label::after {
  content: "\2716";
  margin-right: 5px;
  position: absolute;
  top: -1px;
  left: 4px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
}

.form-register .form-box .form-action #send-email:checked ~ label::before {
  background: #23d2e2;
}

.form-register .form-box .form-action #send-email:checked ~ label::after {
  opacity: 1;
  visibility: visible;
}

.form-register .form-box .form-btn {
  margin-top: 30px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  height: 54px;
  line-height: 54px;
  cursor: pointer;
  background-color: #23d2e2;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
}

.form-register .form-box .form-btn:hover {
  background-color: #1bc5d4;
}

.form-register .form-box .form-text {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.4rem;
  position: relative;
  color: #3e3f5e;
}

.form-register .form-box .form-text a {
  color: #00c7d9;
  font-weight: 600;
}

.form-login,
.form-register {
  transform: translateX(100%);
  pointer-events: none;
  backface-visibility: hidden;
  transition: transform 0.8s ease-out, opacity 0.4s ease-out;
  backface-visibility: hidden;
  will-change: transform, opacity;
}

#tab-login:checked ~ .form-login {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  z-index: 2;
}
#tab-login:checked ~ .form-register {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  z-index: 1;
}
#tab-register:checked ~ .form-register {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  z-index: 2;
}
#tab-register:checked ~ .form-login {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
  z-index: 1;
}

@media screen and (max-width: 1499.98px) {
  .container {
    overflow: hidden;
  }
  .decoration {
    display: none;
  }
  .info {
    left: 6%;
  }
  .info .info-text {
    margin-top: 10px;
  }
  .info .info-btn {
    margin-top: 40px;
  }
  .form-login,
  .form-register {
    right: 80px;
  }
}

@media screen and (max-width: 1364.98px) {
  .container {
    height: calc(100vh + 30px);
    overflow-y: auto;
    padding-bottom: 20px;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .decoration {
    display: none;
  }

  .info {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }

  .info .info-text {
    display: none;
  }

  .info .info-btn {
    margin-top: 40px;
    width: 320px;
  }

  .form-login {
    position: relative;
    top: -20px;
    right: 0;
    width: 90%;
    max-width: 500px;
    height: auto;
    padding: 48px 40px;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .form-register {
    position: relative;
    top: -20px;
    right: 0;
    width: 90%;
    height: auto;
    max-width: 500px;
    margin-top: -650px;
    margin-bottom: 40px;
  }

  .form-login .form-login-logo,
  .form-register .form-register-logo {
    display: none;
  }

  .form-login .form-box,
  .form-register .form-box {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 599.98px) {
  .form-login,
  .form-register {
    max-width: 100%;
  }
}

@media screen and (max-width: 499.98px) {
  .info {
    margin-top: 80px;
    max-width: 100%;
  }
  .info .info-title {
    font-size: 6rem;
    margin-top: -20px;
  }
  .info .info-btn {
    width: 90vw;
    margin-top: -10px;
  }
  .form-login .form-box .form-text::before,
  .form-login .form-box .form-text::after {
    width: 30px;
  }
}
